.container {
  width: 180px;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #caa99f;
  margin-left: auto;
  margin-right: auto;
}
