<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title>Plogs - Picture Logs</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blogs/index.css' %}">
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <p class="title">Blogs</p>
    </div>

    {% if user.is_authenticated %}
      <div class="authentication">
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <div class="buttons">
          <a href="{% url 'blogs:login' %}" class="waves-effect waves-light btn teal lighten-4">Login</a>
          <a href="{% url 'blogs:register' %}" class="waves-effect waves-light btn teal lighten-4">Register</a>
        </div><br>
      </div>
    {% endif %}

    <div class="content">
      <div class="tile">
        <div class="grid">
          <div class="detail">
            Lorem Ipsum <br>
            @skemi
          </div>
        </div>
        <div class="grid">
          <div class="detail">
            Lorem Ipsum <br>
            @skemi
          </div>
        </div>
        <div class="grid">
          <div class="detail">
            Lorem Ipsum <br>
            @skemi
          </div>
        </div>
      </div>
      <div class="tile">
        <div class="grid">
          <div class="detail">
            Lorem Ipsum <br>
            @skemi
          </div>
        </div>
        <div class="grid">
          <div class="detail">
            Lorem Ipsum <br>
            @skemi
          </div>
        </div>
        <div class="grid">
          <div class="detail">
            Lorem Ipsum <br>
            @skemi
          </div>
        </div>
      </div>
      <div class="tile">
        <div class="grid">
          <div class="detail">
            Lorem Ipsum <br>
            @skemi
          </div>
        </div>
        <div class="grid">
          <div class="detail">
            Lorem Ipsum <br>
            @skemi
          </div>
        </div>
        <div class="grid">
          <div class="detail">
            Lorem Ipsum <br>
            @skemi
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">All Rights Reserved. Charot.</div>
  </body>
</html>
