<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title>Plogs - Picture Logs</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blogs/index.css' %}">
    <link rel="stylesheet" href="{% static 'blogs/profile.css' %}">
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <p class="title"><a href="{% url 'blogs:index' %}">Blogs</a></p>
      {% if user.is_authenticated %}
        <div class="buttons">
          <a class="waves-effect waves-teal btn-flat" href="{% url 'blogs:home' %}">Create</a>
          <a class="waves-effect waves-teal btn-flat" href="{% url 'blogs:profile' user.username %}">Profile</a>
          <a class="waves-effect waves-teal btn-flat" href="{% url 'blogs:logout' %}">Logout</a>
        </div>
      {% else %}
        <div class="buttons">
          <a class="waves-effect waves-teal btn-flat" href="{% url 'blogs:login' %}">Login</a>
          <a class="waves-effect waves-teal btn-flat" href="{% url 'blogs:register' %}">Register</a>
        </div>
      {% endif %}
    </div>

    <div class="content">
      <br>
      <div class="profile-circle"></div>
      <h3>@{{ user_info.username }}</h3>
      <p>{{ about }}</p>
      <br> <hr style="width:300px"> <br>
      {% for blog in blogs %}
        <a href="{% url 'blogs:view_blog' blog.author.username blog.id %}">< {{ blog.title }} ></a><br>
      {% empty %}
        <p>No blogs yet</p>
      {% endfor %}
    </div>

    <!-- Footer -->
    <div class="footer">All Rights Reserved. Charot.</div>
  </body>
</html>
