<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title>Plogs - Picture Logs</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blogs/index.css' %}">
    <link rel="stylesheet" href="{% static 'blogs/register.css' %}">
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <p class="title"><a href="{% url 'blogs:index' %}">Blogs</a></p>
    </div>

    <div class="content">
      <h3 style="text-align:center">Login</h3>
      {% if error_message %}
        <p style="color:red;text-align:center">{{ error_message }}</p>
      {% endif %}
      <div class="row">
        <form class="col s12" action="{% url 'blogs:register' %}" method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="row">
            {% if field.errors %}
            <p style="color:red;text-align:center">{{ error_message }}</p>
            {% endif %}
            <div class="input-field col s12">
              {{ field }}
              {{ field.label_tag }}
            </div>
          </div>
          {% endfor %}
          <div class="wrapper">
            <button type="submit" class="btn waves-effect waves-light">Register</button>
          </div>
        </form>
        <!-- <form class="col s12" action="{% url 'blogs:register' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" class="validate" name="name">
              <label for="name">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="username" type="text" class="validate" name="username">
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="username" type="text" class="validate" name="email">
              <label for="username">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="about" name='about' class="materialize-textarea" placeholder="Say Something about yourself" data-length="500"></textarea>
              <label for="about">About you</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name="password">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name="confirm_password">
              <label for="password">Confirm Password</label>
            </div>
          </div>
          <div class="wrapper">
            <button type="submit" class="btn waves-effect waves-light">Register</button>
          </div>
        </form> -->
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">All Rights Reserved. Charot.</div>
  </body>
</html>
