.container {
  width: 200px;
}

.image {
  height: 150px;
  width: 200px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.content {
  padding: 10px 5px;
}

.title {
  color: #8b544b;
}

.body {
  color: #8b544b;
}
