.header a {
  color: white;
  text-decoration: none; /* no underline */
}

body {
  background: #eeeeee;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.paper-material {
  background-color: white;
  border-radius: 5px;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #80cbc4;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 5;
}

.header .title {
  font-size: 30px;
  margin: 0;
  padding-top: 7px;
  color: white;
}

.header .sub-title {
  font-size: 15px;
  margin: 0;
  color: white;
}

.header .buttons {
  width: fit-content;
  float: right;
  margin-right: 20px;
  margin-top: -38px;
}

.footer {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.authentication {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.authentication {
  text-align: center;
}

.authentication .buttons {
  text-align: center;
}

.content {
  width: 800px;
  margin: 20px auto 20px auto;
}

.content .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.content .grid {
  width: 180px;
  margin-left: 20px;
  margin-top: 20px;
}

.content .grid .image {
  background-color: #bcbcbc;
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.content .grid .image img {
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.content .grid-author {
  text-align: center;
}

.content .grid .image-circle {
  background-color: #bcbcbc;
  height: 100px;
  width: 100px;
  margin: 0 auto 10px auto;
  border-radius: 50%;
}

.content .grid .image-circle img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.content .grid p {
  margin-bottom: 0;
}

.content hr {
  width: 500px;
}

.content h3 {
  text-align: center;
}

.profile-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #4f9a94;
  margin: 20px auto 20px auto;
}

.profile-circle img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.buttons {
  text-align: center;
}
