.header a {
  color: white;
  text-decoration: none; /* no underline */
}

.content {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.content .profile-info {
  width: 400px;
  text-align: center;
}

.content .profile-info a {
  color: #4f9a94;
}

.content .blog-info {
  width: 600px;
  margin-top: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
}

.content .profile-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #4f9a94;
  margin: 20px auto 20px auto;
}

.content .blog-image {
  height: 300px;
  width: 100%;
}

.parallax-container {
  height: 300px;
}

.blog-content {
  background-color: white;
  border-radius: 5px;
}
