<div class="navigation" *ngIf="loggedIn">
  <a routerLink="/home" [class.tab-selected]="activeRoute === '/home'">Home</a>
  <a routerLink="/profile" [class.tab-selected]="activeRoute === '/profile'">Profile</a>
  <a routerLink="/create-blog" [class.tab-selected]="activeRoute === '/create-blog'">Create</a>
</div>

<div class="welcome" *ngIf="!loggedIn">
  <br><br>
  <h4>Welcome to Grammers</h4>
</div>

<div class="account z-depth-1">
  <div class="account-content">
    <span class="username">{{ user.username }}</span>
    <br>
    <span class="account-option">Logout</span>
  </div>
</div>

<router-outlet></router-outlet>
